<div class="gallery">
  @if (isOpen) {
  <div class="gallery__content">
    <div class="gallery__scroll">
      <div class="gallery__images">
        @for (img of images; track img; let i = $index) {
        <img
          [src]="img.src"
          [alt]="img.alt"
          (click)="openModal(img.src, img.alt)"
          [style.animationDelay]="i * 0.12 + 's'"
          class="gallery__img"
        />
        }
      </div>
    </div>
  </div>
  } @if (modalOpen) {
  <div class="gallery__modal" (click)="closeModal()">
    <img [src]="modalImg" [alt]="modalAlt" class="gallery__modal-img" />
    <button
      class="gallery__modal-close"
      (click)="closeModal(); $event.stopPropagation()"
    >
      ×
    </button>
  </div>
  }
</div>
